<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info_card", user: current_user %>
      <%= render "books/floating_form", book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1 pt-3">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th style="width: 20%;"></th>
            <th style="width: 20%;">Title</th>
            <th style="width: 20%;">Opinion</th>
            <th style="width: 20%;"></th>
            <th style="width: 20%;"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <% u = book.user %>
            <tr>
              <td>
                <%= link_to user_path(u) do %>
                  <% if u&.profile_image&.attached? %>
                    <%= image_tag u.profile_image, size: "60x60", alt: u.name %>
                  <% else %>
                    <%= image_tag "no_image.jpg", size: "60x60", alt: "No image" %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to book.title, book_path(book) %>
              </td>
              <td>
                <%= book.body %>
              </td>
              <td class="text-center align-middle">
                <% if user_signed_in? %>
                  <% if book.favorited_by?(current_user) %>
                    <%= link_to book_favorite_path(book), method: :delete, class: "text-danger" do %>
                      <i class="fas fa-heart"></i> <%= book.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to book_favorite_path(book), method: :post, class: "text-secondary" do %>
                      <i class="far fa-heart"></i> <%= book.favorites.count %>
                    <% end %>
                  <% end %>
                <% else %>
                  <span class="text-secondary"><i class="far fa-heart"></i> <%= book.favorites.count %></span>
                <% end %>
              </td>
              <td class="text-center align-middle text-muted">
                コメント数: <%= book.book_comments.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @books if defined?(paginate) %>
    </div>
  </div>
</div>
